.mario-kart-character{
	background-image: url('sprite.png');
}

.baby-mario{
	background: url('sprite.png') no-repeat -4px -58px;
	background-position: no-repeat -4px -58px;
	width: 183px;
	height: 139px;
	display:inline-block;
}

.daisy{
	background: url('sprite.png') no-repeat -193px -94px;
	width: 147px;
	height: 97px;
	display:inline-block;
}


.bowser{
	background: url('sprite.png') no-repeat -346px -45px;
	width: 113px;
	height: 144px;
	display:inline-block;
}